.formContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.logo{
  width: 200px;
  height: 200px;
  align-self: center;
}
.formBox{
  width: 400px;
  background: rgba(107, 110, 112, .2);
  border-radius: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.form{
  width: 25%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

input {
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #474B4F;
  text-align: left;
  align-self: center;
}

button{
  background: #86C232;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  align-self: center;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .formContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
  }
  
  .logo{
    width: 200px;
    height: 200px;
    align-self: center;
  }
  .formBox{
    width: 400px;
    background: rgba(107, 110, 112, .2);
    border-radius: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  
  .form{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }
  
  input {
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #474B4F;
    text-align: left;
    align-self: center;
  }
  
  button{
    background: #86C232;
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    align-self: center;
  }
}