.formContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
  padding: 300px;
}

input {
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #474B4F;
  text-align: left;
  align-self: center;
}

button {
  background: #095D34;
  color: white;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  align-self: center;
}

button:hover {
  cursor: pointer;
}
.inputs {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;

  border: 4rem;
}


.title {
  padding-top: 100px;
  font-family: Barrio;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  color: #095D34;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}