.switch-field {
  display: flex;
  margin-bottom: 36px;
  overflow: hidden;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #a5dc86;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Let’s get started on a new goal! */


.title { 
position: absolute;
width: 574px;
height: 41px;
left: 388px;
top: 112px;

font-family: Barrio;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

/* Primary/green/dark */

color: #095D34;
};

.finalGoal {

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;
}

.goal {
  /* Rectangle 97 */

position: absolute;
width: 644px;
height: 615px;
left: 354px;
top: 96px;

/* Primary/green-30 */

background: #DFF1EA;
/* Primary/green-30 */

border: 1px solid #DFF1EA;
box-sizing: border-box;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

.date {
  /* Rectangle 99 */


position: absolute;
width: 176px;
height: 43px;
left: 451px;
top: 186px;

/* Neutral/background */

background: #F6FBF9;
/* Primary/green-80 */

border: 1px solid #459B79;
box-sizing: border-box;
border-radius: 8px;
}
.nameGoal {
  /* Name your goal */


position: absolute;
width: 141px;
height: 23px;
left: 451px;
top: 265px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;

/* Primary/green/dark */

color: #095D34;
}